{% extends 'admin/base.html.twig' %}

{% block title %}Creation d'Ingrédients{% endblock %}

{% block body %}
<main>
{{form_start(form)}}
{{form_rest(form)}}
<input type="submit" value="Save" class="btn btn-primary">
{{form_end(form)}}
</main>
{% endblock %}