<header>
	<nav>
		<a href={{path('front_home_index')}}>
		<img src={{asset('img/candy_logo2.webp')}} alt="candy logo"></a>
		<a href={{path('admin_article_index')}}>Products</a>
		<a href="">Contact</a>
		<a href="">???</a>
	</nav>
</header>
