<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS List Practice</title>
    <script src="../assets/js/16-practice.js" defer></script>
</head>
<body>
    <div id="first-div">
        <h1 id="naruto-h1">Naruto Characters</h1>
        <ul id="naruto-list">
          <li>Uzumaki Naruto</li>
          <li>Haruno Sakura</li>
          <li>Uchiha Sasuke</li>
          <li>Hatake Kakashi</li>
          <li>Tsunade Hime</li>
        </ul>
      </div>
    
</body>
</html>