{% extends "admin/base.html.twig" %}

{% block title %}
{{parent()}} Accueil
{% endblock %}

{% block body %}
<main class="d-flex flex-column justify-content-center gap-5">
<h1 class="text-center">Bonjour, cher Administrateur !</h1>
</main>
{% endblock %}