<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Figure Tag</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/figure-animation.css" />
  </head>
  <body>
    <!-- Figure Version -->
    <section>
      <figure>
        <img
          src="../assets/img/friends-figure.jpg"
          alt="two friends on top of their truck"
        />
        <figcaption>
          Have you ever dreamed of traveling the world with your bestie, on your own terms, free to go wherever you want, whenever you choose ?<br>Well, it's now possible with FreedomCome !
        </figcaption>
      </figure>
    </section>

    <!-- Article Version -->
  </body>
</html>
